*{

    margin: 0;
    padding: 0;
    background-image: url(/img/work11.jpg);
}

div{
    font-weight: 500;
    display:block;
    padding-left: 800px;
    padding-top: 250px;
}
p{
    font-size: 50px;
    color: rgb(235, 48, 48);
    border-color: none;
    display: flex;
}
input{
    padding: 1px;
    margin: 1px;
    font-size: 20px;
    display:grid;
    background-blend-mode: hard-light;
    background-color: rgb(227, 245, 223);
}
input:hover{
    font-size: 21px;
    display: flex;
    background-color: rgb(119, 224, 81);
    transform:scaleZ(0.3s);
    transition: 1s;
}

.blogging{
    margin-top: 0;
    padding-top: 25px;
    padding-left: 550px;
    font-size: 100px;
}
